.pink-button {
  display: inline-block;
  background-color: @pink-color;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
    background-color: #333;
  }
}

.pagination {
  .active {
    span, span:hover {
      background-color: @pink-color;
      border-color: @pink-color;
    }
  }
  li {
    a {
      color: @pink-color;
      &:hover {
        color: darken(@pink-color, 30%);
      }
    }
  }
}


.black-more-link {
  text-align: right;
  a {
    display: inline-block;
    color: #000000;
    margin-top: 15px;
    &:hover {
      text-decoration: none;
      color: lighten(#000000, 30%);
    }
  }
}