#pre-header {
  background-color: @black-color;
  padding-top: 5px;
  padding-bottom: 5px;
  .block-on-the-web {
    padding-bottom: 0;
    text-align: right;
    .on-the-web {
      a {
        display: inline-block;
      }
    }
  }
}

#header {
  padding-top: 15px;
  padding-bottom: 15px;
  #logo {
    text-align: left;
    padding-bottom: 0;
    a {
      img {
        max-height: 100px;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  #site-slogan {
    text-align: right;
    color: #000000;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0 20px 200px;
    line-height: 30px;
    height: 100%;
  }
  @media all and (max-width: @screen-md) {
    #logo {
      text-align: center;
    }
    #site-slogan {
      text-align: center;
      padding: 20px 100px 0 100px;
    }
  }
  @media all and (max-width: @screen-sm) {
    #site-slogan {
      font-size: 18px;
      padding: 20px 0 0 0;
    }
  }
}

#main-navigation {
  ul.menu {
    li {
      a {
        font-size: 14px;
        font-weight: normal;
        padding: 15px;
        line-height: 20px;
        &:hover {
          color: @main-color;
        }
      }
      .nolink {
        position: relative;
        padding: 15px 35px 15px 15px;
        color: #999;
        cursor: pointer;
        text-transform: uppercase;
        line-height: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:after {
          font-family: 'Glyphicons Halflings';
          content: "\e259";
          position: absolute;
          top: 50%;
          margin-top: -10px;
          right: 15px;
        }
        &:hover {
          color: @main-color;
        }
        .sf-sub-indicator {
          display: none;
        }
      }
    }
    ul {
      li {
        a {
          padding: 10px 15px;
        }
      }
    }
  }
}