#banner {
  .container-fluid, #banner-inside {
    padding: 0;
  }
}

#main-content {
  padding-top: 30px;
  #main {
    #content-wrapper {
      background-color: ffffff;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}

.node header {
  padding: 0;
}

.nav-tabs {
  margin-top: 0;
}

.title-container {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #EEE;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 100%;
  &:after {
    position: absolute;
    bottom: 0;
    display: block;
    content: " ";
    background-color: @main-color;
    width: 30px;
    height: 3px;
    line-height: 3px;
  }
  h1.page-title {
    float: left;
    padding: 0!important;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 28px;
  }
  #breadcrumb {
    float: right;
    .breadcrumb {
      margin-bottom: 0;
      padding: 0;
      border: none;
      border-radius: 0;
      background-color: transparent;
      height: 33px;
      line-height: 33px;
      color: #999;
      a {
        color: #444;
        &:hover {
          color: @main-color;
          text-decoration: none;
        }
      }
    }
  }
}
.view-partners.view-display-id-page, .view-news.view-display-id-page {
  .view-content {
    .container {
      width: 100%
    }
    .row {
      border: 1px solid #EEE;
      padding: 15px 0;
      margin-bottom: 15px;
      .left-col {
        img {
          min-width: 100%;
          max-width: 100%;
        }
      }
      .right-col {
        h4 {
          margin-top: 0;
          a:hover {
            text-decoration: none;
            color: darken(@main-color, 30%);
          }
        }
        h5 {
          font-size: 16px;
          font-weight: normal;
        }
        .field_link ul {
          margin-bottom: 0;
        }
      }
    }
    .more-link {
      text-align: right;
      a {
        .pink-button;
      }
    }
  }
}

.view-events, .view-publications {
  .views-row {
    padding: 15px;
    border: 1px solid #EEE;
    margin-bottom: 15px;
    .views-field {
      display: inline-block;
      width: 100%;
      margin-bottom: 5px;
    }
    .views-field-title {
      h4 {
        margin-top: 0;
        a:hover {
          text-decoration: none;
          color: darken(@main-color, 30%);
        }
      }
    }
    .views-field-field-location {
      margin-bottom: 0;
    }
    .views-label {
      float: left;
      font-weight: bold;
      margin-right: 5px;
    }
    .field-content {
      float: left;
    }
  }
  .more-link {
    .black-more-link;
    a {
      margin-top: 0;
    }
  }
  .views-field-view-node {
    text-align: right;
    .more-link {
      float: none;
      a {
        .pink-button;
      }
    }
  }
}

.view-contractual-documents {
  .views-row {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #EEE;
    h4 {
      margin-top: 0;
      a:hover {
        text-decoration: none;
        color: darken(@main-color, 30%);
      }
    }
    li {
      margin-bottom: 5px;
      .file {
        img, a {
          display: inline-block;
        }
      }
    }
  }
}

.page-contact {
  #content-wrapper {
    padding: 0;
  }
  .panels-flexible-region-new-introduction_text {
    article {
      border: none;
      border-radius: 0;
      header, footer {
        display: none;
      }
    }
  }
  #webform-client-form-22 {
    input, textarea {
      &:focus {
        border-color: @main-color;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px fadeout(@main-color, 40%);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px fadeout(@main-color, 40%);
      }
    }
    button {
      margin-top: 15px;
      background-color: @main-color;
      border-color: darken(@main-color, 10%);
    }
  }
}

.view-calendar, .view-public-calendar {
  .date-nav-wrapper {
    .date-nav {
      padding-bottom: 0;
      .pager {
        width: 100%;
        margin-bottom: 0;
        li {
          position: relative;
          display: inline-block;
          background: none;
          padding: 0;
          margin: 0 5px;
          right: 0;
          a {
            .pink-button;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

.front .view-public-calendar {
  padding-top: 5px;
  padding-bottom: 15px;
  .pager {
    display: none;
  }
  .calendar-calendar .month-view .full tr.single-day .no-entry,
  .calendar-calendar .month-view .full tr.single-day .no-entry .inner {
    height: 20px!important;
    line-height: 20px;
  }
  .calendar-calendar .month-view .full tr.single-day .noentry-multi-day,
  .calendar-calendar .month-view .full tr.single-day .noentry-multi-day .inner {
    height: 0!important;
    line-height: 0;
  }
  .date-box {
    font-size: 10px;
    height: 12px;
    max-height: 12px;
    line-height: 12px;
  }
}