#banner {
  .container-fluid, #banner-inside {
    padding: 0;
  }
}

#main-content {
  #main {
    #content-wrapper {
      background-color: ffffff;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      .page-title {
        padding: 0 0 10px 0;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 28px;
        border-bottom: 1px solid #EEE;
      }
    }
  }
}
